<div class="iphone">
  <div class="iphone-top">
    <div class="iphone-camera"></div>
    <div class="iphone-speaker"></div>
  </div>
  <div class="iphone-screen">
    <div class="profile">
      <img src="assets/profil.png" alt="Photo de profil" class="profile-picture">
      <h1 class="profile-name">Xavier Dupont</h1>
      <p class="profile-bio">Bonjour, récemment inscrit sur ce site de rencontre, je recherche l'amour.
        Mes passions :
        -Sport,
        -Jeu vidéo,
        -Cuisiner.</p>
      <div class="profile-actions">
        <button class="like-button">J'aime</button>
        <button class="dislike-button">Je n'aime pas</button>
      </div>
    </div>
    <div class="bottom-bar">
      <img src="assets/message.jpg" alt="Messages" class="side">
      <img src="assets/profil.png" alt="Profil" class="side">
      <img src="assets/reglage.png" alt="Paramètres" class="side">
    </div>
  </div>
  <div class="iphone-bottom">
    <div class="iphone-home-button"></div>
  </div>
</div>
<p>Accueil/Swipe</p>

<div class="iphone">
  <div class="iphone-top">
    <div class="iphone-camera"></div>
    <div class="iphone-speaker"></div>
  </div>
  <div class="iphone-screen">
    <div class="profile">
      <img src="assets/profil.png" alt="Photo de profil" class="profile-picture">
      <h1 class="profile-name">Xavier Dupont</h1>
      <p class="profile-bio">Bonjour, récemment inscrit sur ce site de rencontre, je recherche l'amour.
        Mes passions :
        -Sport,
        -Jeu vidéo,
        -Cuisiner.</p>
      <div class="profile-actions">
        <img src="assets/logophoto.jpg" alt="Photos" class="photo_on_profil">
        <img src="assets/logophoto.jpg" alt="Photos" class="photo_on_profil">
        <img src="assets/logophoto.jpg" alt="Photos" class="photo_on_profil">
        <img src="assets/logophoto.jpg" alt="Photos" class="photo_on_profil">
      </div>
    </div>
  </div>
  <div class="iphone-bottom">
    <div class="iphone-home-button"></div>
  </div>
</div>
<p>Profil</p>


<div class="iphone">
  <div class="iphone-top">
    <div class="iphone-camera"></div>
    <div class="iphone-speaker"></div>
  </div>
  <div class="iphone-screen">
    <ul>
      <li>Apercu du Profil</li>
      <li>Modifier ses informations</li>
      <li>Confidentalite</li>
      <li>Notifications</li>
      <li>Se deconnecter</li>
      <li>Supprimer son compte</li>
    </ul>

  </div>
  <div class="iphone-bottom">
    <div class="iphone-home-button"></div>
  </div>
</div>
<p>Parametres</p>
